<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/calendar.css">
    <link href="./fullcalendar/main.css" rel="stylesheet">
    <script src="./fullcalendar/main.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../static/css/side.css">

    <title>
      Schedule
    </title>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEI = document.getEIementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEI, {
          timeZone: 'UTC',
          initialView: 'dayGridMonth',
           height: '100%',
          events: [
            {
              title : 'Waacing Practice',
              start:'2024-10-29T18:00:00',
              backgroundColor:"#808080"
            },
            {
              title : 'Waacing Practice',
              start:'2024-11-05T18:00:00',
              backgroundColor:"#808080"
            },
            {
              title : 'Waacing Practice',
              start:'2024-11-12T18:00:00',
              backgroundColor:"#808080"
            },
            {
              title : 'Waacing Practice',
              start:'2024-11-19T18:00:00',
              backgroundColor:"#808080"
            },
            {
              title : 'Waacing Practice',
              start:'2024-11-26T18:00:00',
              backgroundColor:"#808080"
            }
          ]
        });
        calendar.render();
      });
    </script>
  </head>
  <body>
      <div id="calendar-container">
          <div id="calendar"></div>
      </div>

      <aside class="side-bar">
          <section class="side-bar__icon-box">
              <section class="side-bar__icon-1">
              <div></div>
              <div></div>
              <div></div>
              </section>
          </section>
          <ul>
              <li>
              <a href="./index.html">Notice</a>
              </li>
              <li>
              <a href="./calendar.html">Schedule</a>
              </li>
              <li>
              <a href="#">Reference</a>
              <ul>
                  <li><a href="./outfit.html">Outfit</a></li>
                  <li><a href="./makeup.html">Makeup</a></li>
              </ul>
              </li>
              <li>
              <a href="./our_outfit.html">Our Outfit</a>
              </li>
          </ul>
          </aside>
  </body>
</html>