<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href="../static/css/side.css">

        <title>
            Notice
        </title>
        <style>
            .title{
                color:white;
                text-indent: 50px;
            }
            .text{
                color:white;
                text-indent: 70px;
            }
            img{
                width: auto;
                height: 500px;
                display: inline-block;
                margin-left: 70px;
            }
        </style>
    </head>
    <body>
        <aside class="side-bar">
        <section class="side-bar__icon-box">
            <section class="side-bar__icon-1">
            <div></div>
            <div></div>
            <div></div>
            </section>
        </section>
        <ul>
            <li>
            <a href="./index.html">Notice</a>
            </li>
            <li>
            <a href="./calendar.html">Schedule</a>
            </li>
            <li>
            <a href="#">Reference</a>
            <ul>
                <li><a href="./outfit.html">Outfit</a></li>
                <li><a href="./makeup.html">Makeup</a></li>
            </ul>
            </li>
            <li>
            <a href="./our_outfit.html">Our Outfit</a>
            </li>
        </ul>
        </aside>

        <h1 class="title">Notice</h1>
        <br>
        <h3 class="text">[ 중요 사항 ]</h3>
        <h4 class="text">- 연습 시간에 태도가 불량하거나, 연락없이 연습에 참여하지 않은 경우 무대에 함께할 수 없을 수도 있습니다.</h4>
        <h4 class="text">- 불가피한 이유로 연습에 참여하지 못할 경우, 영상을 제출할 때에 해당 주차까지 나간 진도에 맞추어 영상을 제출해야 합니다.</h4>
        <br>
        <h3 class="text">[ 의상 ]</h3>
        <h4 class="text">- 의상은 11/07(목) 23:59까지 정해야합니다.</h4>
        <h4 class="text">- 팀장 개인톡으로 원하는 의상을 보내고 검사 후 픽스되면 주문 후에 단톡방에 올립니다.</h4>
        <h4 class="text">- 의상에는 옷, 신발, 헤어, 메이크업, 악세사리가 포함됩니다.</h4>
        <h4 class="text">- 왁킹 클래스 무대를 제외한 다른 무대도 하는 친구들은 다른 무대까지 고려해야 합니다.</h4>
        <br>
        <h3 class="text">[ 영상 제출 ]</h3>
        <h4 class="text">- 영상은 매주 월요일 23:59까지 단톡방에 제출합니다.</h4>
        <h4 class="text">- 영상은 총 2개 제출해야하며, 해당 주차까지 배운 안무를 끊지 않은 하나의 영상과 베이직 영상을 제출해야합니다.</h4>
        <h4 class="text">*1주차는 베이직 영상을 워킹 연습 영상으로 대체합니다.</h4>
        <br>
        <h3 class="text">모두 파이팅 합시다!</h3>
        <img src="./attitude.jpg">
    </body>
</html>