<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href="../static/css/side.css">

        <title>
            Reference_Makeup
        </title>
        <style>
            .title{
                color:white;
                text-indent: 50px;
            }
            img{
                width: auto;
                height: 300px;
                display: inline-block;
                margin-left: 20px;
                margin-bottom: 10px;
                padding: 0 0 15px 15px;
            }
        </style>
    </head>
    <body>
        <aside class="side-bar">
        <section class="side-bar__icon-box">
            <section class="side-bar__icon-1">
            <div></div>
            <div></div>
            <div></div>
            </section>
        </section>
        <ul>
            <li>
            <a href="./index.html">Notice</a>
            </li>
            <li>
            <a href="./calendar.html">Schedule</a>
            </li>
            <li>
            <a href="#">Reference</a>
            <ul>
                <li><a href="./outfit.html">Outfit</a></li>
                <li><a href="./makeup.html">Makeup</a></li>
            </ul>
            </li>
            <li>
            <a href="./our_outfit.html">Our Outfit</a>
            </li>
        </ul>
        </aside>

        <h1 class="title">Makeup Reference</h1>
        <br>
        <script>
            for(let i=1;i<=16;i++){
                let img=document.createElement('img');
                img.src="../static/makeup/"+i+".jpg";
                img.getElementsByClassName("image");
                img.alt="Reference_makeup"+i;
                document.body.appendChild(img)
            }
        </script>
    </body>
</html>